form {
	background-color: white;
	max-width:450px;
	width:100%;
	padding: 20px;
	position:relative;
	left:50%;
	top:40%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	height: 52%;
}

#titulo{
	text-align: center;
	padding-bottom:0.1rem;
	
}

input[type=password]{
	border: none;
	outline: 0;
	border: 1px solid #dcd0e0;
	width: 100%;
	height: 3.2rem;
	padding: 17px;
	font-size: 15px;
    margin-top:5px;
}

.button{
	overflow: hidden;
	text-align: center;
	padding-top: 3%;
}

.button input{
	cursor: pointer;
	width: 20rem;
	position: relative;
	display: inline-block;
	padding: 12px;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 40px;
	letter-spacing: 4px;
	background: black;
	font-weight: bold;
	border-style: none;
}

footer{
	top:12rem;
}